### Python CheatSheet

# Python is an open source, highlevel dynamically typed language with very intuitive data types.  It is licensed under Python Software Foundation License(compatible to GNU General Public License).

#### Python is easy to learn, with simple syntax and limited set of keywords

#### Uses indentation to avoid clutter of curly brackets and dynamic typing without prior declaration of variables

## Python Interpreter

#### In compiler based programming language the code is converted to machine language, hence if there is a single error entire conversion fails

#### python interpreter interprets line by line and exits at the time of error instead of stopping the whole code.
#### This is also a disadvantage when writing a large number of code lines where we have no way of knowing the next set of errors if the execution exits in previous lines

#### The interpreter comes with a huge advantage of Cross-platform without the need to be re-compiled in other Operating systems
#### Python interpreter converts the source code to byte code whenever it is executed in any operating systems.  Hence supporting the portability

# OOPs Concept

### C++ and Java dominates the implementation of Object Oriented Programming concepts than Python
### Python doestn't support data encapsulation (controlling the visibility of variables).  The dynamic typing becomes a disadvantage here

### Python Versions

#### Python 1.0
#### January 1994, version 1.0 was released.
#### Python 2.0
#### Launched in October 2000, with features such as list, garbage collection etc.,
#### Python 3.0
#### Launched in December 2008, better exception handling, math modules etc.,
### As of Jul 2024, Python 3.12 is the latest version

# let's Get Started...

In [5]:
# Python interpreter also works in scripted mode. Open any text editor, enter the following text and save as Hello.py
print('Hello world')

Hello world

In [6]:
# declaration of variables
a = 5
b = 3.5
c = 'python'

In [16]:
# dynamically assigned variable types, type() function here is used to find data type of a given variable
print(type(a))

<class 'int'>

In [8]:
print(type(b))

<class 'float'>

In [10]:
print(type(c))

<class 'str'>

In [11]:
d = [1,2,3,4,5]
print(type(d))

<class 'list'>

In [12]:
e = (1,2,3)
print(type(e))

<class 'tuple'>

In [13]:
f = {2,3,4}
print(type(f))

<class 'set'>

In [14]:
g = { a: 1, b: 2}
print(type(g))

<class 'dict'>

In [15]:
h = True
print(type(h))

<class 'bool'>

### Defining Variable 
 - A variable can contain alphabets, Digits, and underscores.
 - A variable can only start with an alphabet or underscores (_).
 - A variable name canâ€™t start with a digit.
 - No white space is allowed to be used inside a variable name.

### Typecasting

In [17]:
a

5

In [18]:
# conversion of int to string
convertedValue = str(a)
print('converted value: ', convertedValue)
print('Datatype: ', type(convertedValue))

converted value:  5
Datatype:  <class 'str'>

In [20]:
# similarly to other data types
# if string is a complete number we can covert it to int
s = '5'
print('before: ',type(s))
i = int(s)
print('after: ',type(i))

before:  <class 'str'>
after:  <class 'int'>

### Operators

- Arithmetic Operators

- Relational Operators

- Bitwise Operators

- Assignment Operators

- Logical Operators

### Arithmetic Operators

In [63]:
a + b # addition

10

In [29]:
b - a # subtraction

-1.5

In [30]:
b * a # multiplication

17.5

In [33]:
a = 5
b = 2
a / b #Division

2.5

In [34]:
a // b # Floor Division

2

In [35]:
a % b # modulus

1

In [36]:
a**b # exponent

25

### Relational Operators

In [65]:
a = 5
b = 5
c = 3
d = 6

In [39]:
a == b # always returns the boolean value

True

In [40]:
a != b

False

In [42]:
a != c

True

In [43]:
a > c

True

In [45]:
a > d

False

In [46]:
if a>=c:
    print('One')
else:
    print('Two')

One

#### Bitwise Operator
 - & - AND
 - | - OR
 - ^ - XOR
 - ~ - NOT
 - << - Zero fill left shift
 - '>> - Signed right shift

In [48]:
a & c

1

In [49]:
# Explanation
print('a: ',bin(a),', b', bin(b))
a & b

a:  0b101 , b 0b101

5

In [50]:
a | c

7

In [51]:
a ^ b

0

In [52]:
a ^ d

3

In [57]:
print('b:  ', b)
~b

b:   5

-6

In [60]:
print('a: ', bin(a)) # Left Shift
c = a << 1
print('c: ', bin(c))

a:  0b101
c:  0b1010

In [61]:
print('a: ', bin(a)) # 2 Left Shift
c = a << 2
print('c: ', bin(c))

a:  0b101
c:  0b10100

In [62]:
print('a: ', bin(a)) # Right Shift
c = a >> 2
print('c: ', bin(c))

a:  0b101
c:  0b1

In [55]:
print('a: ', bin(a))
c = a >> 1
print('c: ', bin(c))

a:  0b101
c:  0b10

### Logical Operators

In [67]:
if a == 5 and b == 5: # AND operator
    print('both are equal')
else:
    print(f'a: {a}, b: {b}')

both are equal

In [69]:
if a == 5 or c == 5: # OR operator, only one has to be true here
    print(f'one of the condition satisfied - a: {a}, c: {c}')
else:
    print('condition failed')

one of the condition satisfied - a: 5, c: 3

In [87]:
not a < 5 # NOT operator

True

In [86]:
not a == 5

False

### Membership Operators

 - Python has two membership operators **'in'** and **'not in'**

In [84]:
# NOT IN operator
values = [1,2,3,4,5]
if d not in values:
    print('NOT present')
else:
    print('present')

NOT present

In [88]:
5 in values

True

In [89]:
6 in values

False

### Get a runtime value using input()

In [21]:
val = input('Enter input value: ')
print('printing value: ', val)

Enter input value:  4

printing value:  4

In [22]:
# String quotes
# python allows single, double, triple quotes as well
s1 = 'hi'
s2 = "hi"
s3 = '"hi"'
print("s1: ",s1)
print("s2: ",s2)
print("s3: ",s3)

s1:  hi
s2:  hi
s3:  "hi"

### String

In [75]:
city = "paris"
city[1]

'a'

#### Slicing

In [178]:
s = 'Hello World'

In [179]:
s[2] # String indices

'l'

In [180]:
s[1:5] # starts from index 1 and ends at index 5 - 1: 4

'ello'

In [181]:
s[-1] # negative indices starts from the end of the string as  -1

'd'

In [182]:
s[3: -2]

'lo Wor'

#### Concatenation

In [183]:
str1 = 'Hello '
str2 = 'World'
str1+str2

'Hello World'

In [184]:
# By Multiplication
str1 * 2

'Hello Hello '

 - (*) repetition operator
 - (+) concatenation operator

In [186]:
(str1+str2+' ') * 3

'Hello World Hello World Hello World '

#### f-strings, also known as formatted string literals

In [187]:
val1=10
val2=20
print(f'value1: {val1}, value2: {val2}')

value1: 10, value2: 20

In [77]:
# first letter becomes upper case
city.capitalize()

'Paris'

In [78]:
city.upper() # converts to upper case

'PARIS'

In [79]:
city.islower() # returns true if all are lower

True

In [80]:
city = city.capitalize()
print(city)

Paris

In [81]:
city.islower()

False

#### For Further String methods Refer: https://www.w3schools.com/python/python_ref_string.asp

### Escape sequence characters

#### Examples
# \\n â†’ to print newline
# \\t â†’ for tab spaces
# \\â€™ â†’ single quote
# \\\\ â†’ backslashprint('I\\'m learning') # helps to print single quote in string

### Control Statements

#### Decision Making Statements

In [92]:
print(f'a: {a}, b: {b}, c: {c}, d: {d}, values: {values}')

a: 5, b: 5, c: 3, d: 6, values: [1, 2, 3, 4, 5]

In [90]:
# if-else
if a in values:
    print('it is present')
else:
    print('not present')

it is present

In [96]:
# Nested If-else
if a in values:
    print('in outer if: a in values: ', a in values)
    val1 = a + values[1]
    if val1 > 10:
        print('in inner if')
        print('greater than 10, val1: ', val1)
    else:
        print('in inner else')
        print('Not greater than 10, val1: ',val1)
else:
    print('outer else, a in values: ', a in values)

in outer if: a in values:  True
in inner else
Not greater than 10, val1:  7

In [99]:
# Using Match-Case Statement
inputValue = int(input('Enter input: '))
match inputValue:
    case value if value < 0: 
        print('value is negative number')
    case value if 0 <= value < 10:
        print('value is non-negative single digit number')
    case value if 10 <= value < 100: 
        print('value is double-digit number')
    case value if 100<= value < 1000: 
        print('value is triple-digit number')
    case value if value > 999: 
        print('Value greater than 1000')
    case _: 
        print('Invalid Input')

Enter input:  133

value is triple-digit number

### Loops

In [101]:
# For Loops
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [108]:
# Nester For Loops
for i in range(5):
    for j in range(i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [110]:
# For else loop
# lese block executes once the loop is completed

for i in range(5):
    print(i)
else:
    print('Loop completed ...From else block')
print('Out-of-Loop')

0
1
2
3
4
Loop completed ...From else block
Out-of-Loop

In [111]:
# While Loop
i=0
while i <=5:
    print('value now: ', i)
    i+=1

print('Out-of-Loop')

value now:  0
value now:  1
value now:  2
value now:  3
value now:  4
value now:  5
Out-of-Loop

### Using Break and Continue in Loops

In [115]:
# linear Search in loops using break statement

values = [1,11,21,31,41,51,61,71,81,91]
num = 51 # when 51 is found we need to stop the search

for i in values:
    if i == num:
        print('Value Found')
        break
    else:
        print('Value not found yet...')

print('Out of the loop now')

Value not found yet...
Value not found yet...
Value not found yet...
Value not found yet...
Value not found yet...
Value Found
Out of the loop now

In [117]:
# Linear searching all the values if it is equal to num value

values = [1,11,21,31,41,51,61,71,81,91,51]
num = 51 # when 51 is found, we need to continue the search, for any other 51 in list

for i in values:
    if i == num:
        print(f'i: {i} == {num} (num), value Found')
        continue
    else:
        print(f'{i} (i) != {num} (num), continuing search')

print('Out of the loop now')

1 (i) != 51 (num), continuing search
11 (i) != 51 (num), continuing search
21 (i) != 51 (num), continuing search
31 (i) != 51 (num), continuing search
41 (i) != 51 (num), continuing search
i: 51 == 51 (num), value Found
61 (i) != 51 (num), continuing search
71 (i) != 51 (num), continuing search
81 (i) != 51 (num), continuing search
91 (i) != 51 (num), continuing search
i: 51 == 51 (num), value Found
Out of the loop now

### Functions

#### Built-in Funtions
 - print(), input(), int(), len(), sum()

#### User Define funtions
- Function begins with 'def' followed by the funtion name and parantheses ().

In [119]:
def sumOfValues(a,b):
    print('in function')
    return a+b

print('starting execution...')
sumValues = sumOfValues(a,b)
print('end of execution')
print('Ans: ',sumValues)

starting execution...
in function
end of execution
Ans:  10

- **call by value** âˆ’ When a variable is passed to a function while calling, the value of actual arguments is copied to the variables representing the formal arguments. Thus, any changes in formal arguments does not get reflected in the actual argument. This way of passing variable is known as call by value.

- **call by reference** âˆ’ a reference to the object in memory is passed. Both the formal arguments and the actual arguments (variables in the calling code) refer to the same object. Hence, any changes in formal arguments does get reflected in the actual argument.

In [127]:
# Default arguments
def NewValues(x=30, y=20):
    print(f'received values of x & y: {x}, {y}')
    return x*y

x=10
print(NewValues(x)) # since y is not passed here, default y value will be taken

received values of x & y: 10, 20
200

In [129]:
# Positional arguments
def NewValues(x=30, y=20):
    print(f'received values of x & y: {x}, {y}')
    return x*y

x=10
print(NewValues(y=2)) # since only y is passed here, default x value will be taken

received values of x & y: 30, 2
60

In [134]:
# variable length arbitrary positional arguments, takes input as tuple
def variableArgs(*varValues):
    print(type(varValues))
    print('varValues: ', varValues)
    for var in varValues:
        print(var)

variableArgs(22)
listValues = [1,'st',3]
variableArgs(listValues)

<class 'tuple'>
varValues:  (22,)
22
<class 'tuple'>
varValues:  ([1, 'st', 3],)
[1, 'st', 3]

In [135]:
# variable length arbitrary KW arguments
def dictValues(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Calling the function with keyword arguments
dictValues(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

 - Scope of the variables are similar to other OOPs languages
 - Variable scopes are limited based on the place of declaration such as declared Globally, in Class, method/function etc
 - Python has built-in library functions to locally and globally declared variables  **locals()** & **globals()**
 - Python also supports Nested Functions

In [141]:
# Nested Functions
z = 10
def func1():
    x = 40
    y = 2
    # x and y are local to func1 which gets applied to func2, if declared inside func2, func1 does not have visibility to the variables
    def func2(): 
        print('value of z: ', z)
        print('value of x: ', x)
        print('value of y: ', y)
        return x*y
    print(func2())
    return;

func1()

value of z:  10
value of x:  40
value of y:  2
80

### Lambda Functions

In [282]:
lam = lambda a : a * 2
lam(10)

20

In [283]:
# multiple variable
lam = lambda a,b,c : a*b*c
lam(5,3,2)

30

In [290]:
# lambda in function

def func11(x,y):
    return lambda a,b: a*b*x*y

funcCall = func11(2,3) # init the func11 with x and y
print(funcCall(4,5)) # Now the lambda function is called with 4,5 for a,b respectively

120

#### in-Built Math Function

In [147]:
import math

In [148]:
math.sqrt(16)

4.0

In [149]:
int(math.sqrt(16)) # returns value as integer

4

In [150]:
math.ceil(4.75) # returns the smallest integer possible

5

In [151]:
math.floor(4.75) # calculates the floor value of a given integer

4

In [152]:
math.factorial(5) # finds the factorial of given int

120

In [153]:
listValues = [1,11,22,33,44,55]
math.fsum(listValues) # returns sum of all numeric items in a iterable variable such list, tuple, array

166.0

In [154]:
math.cbrt(64) # calculates the cube root of a number

4.0

In [155]:
math.exp(100) # calculates the exponential

2.6881171418161356e+43

In [156]:
math.exp2(100) # calculates 2 raised to power of x

1.2676506002282294e+30

#### Time function

In [157]:
import time

In [158]:
time.localtime()

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=24, tm_hour=12, tm_min=12, tm_sec=27, tm_wday=2, tm_yday=206, tm_isdst=0)

In [160]:
time.localtime().tm_mday # prints the day of the month

24

In [161]:
time.localtime().tm_hour # prints hour of the day

12

In [163]:
time.asctime( time.localtime(time.time()) ) # returns the formatted local time

'Wed Jul 24 12:14:34 2024'

To Further explore python's in-built modules, refer: https://www.tutorialspoint.com/python/python_modules.htm

## Tuple

 - values are stored in sequence separated by commas with parenteses ()
 - Tuple is heterogenous
 - allows to store duplicates unlike Sets
 - tuple is immutable

In [188]:
t = (1,1,2,2)
t

(1, 1, 2, 2)

In [196]:
# Join Tuple
t1 = (1,2,3,4)
t2 = ('a','b','c')
t1+t2

(1, 2, 3, 4, 'a', 'b', 'c')

In [197]:
# Packing Tuple
x = 10
y = 20
z = 30
t3 = x,y,z
t3

(10, 20, 30)

In [198]:
# Unpacking Tuple
t3

(10, 20, 30)

In [199]:
a,b,c = t3
print(f'a:{a},b:{b},c:{c}')

a:10,b:20,c:30

In [203]:
#iterating thru tuple and converting it to list
newList = [val for val in t3]
newList

[10, 20, 30]

In [207]:
t.count(1) # counts number fo times given object is found in a tuple

2

In [211]:
t3.index(20) # index of the given object value

1

## List
 - values are stored in sequence separated by commas with brackets []
 - List is heterogenous
 - allows to store duplicates
 - List is mutable

In [212]:
l1 = [1,1,2,'a','']
l1

[1, 1, 2, 'a', '']

In [214]:
l1[4] = 5 #updating values
l1

[1, 1, 2, 'a', 5]

In [215]:
# delete values
del[l1[1]]
l1

[1, 2, 'a', 5]

#### Slicing

In [216]:
l1[1:3]

[2, 'a']

In [217]:
l1[1:]

[2, 'a', 5]

In [219]:
l1[-3:-1]

[2, 'a']

In [220]:
l1[-1:]

[5]

In [222]:
l1[:-1]

[1, 2, 'a']

In [225]:
# List Comprehension
str1 = 'PROGRESS'
[s.lower() for s in str1]

['p', 'r', 'o', 'g', 'r', 'e', 's', 's']

In [227]:
# List Sorting
l=[3,1,5,2,0,4]
l.sort()
l

[0, 1, 2, 3, 4, 5]

In [228]:
# sort in descending
l.sort(reverse=True)
l

[5, 4, 3, 2, 1, 0]

In [229]:
# list is mutable hence it can be extended by 3 ways
# Append
print('List before append: ',l)
l.append(20)
print('List after append: ',l)
l = l+l1
print('List after concat: ',l)
l2 = ['a','b','c']
l.extend(l2)
print('List after extend: ',l)

List before append:  [5, 4, 3, 2, 1, 0]
List after append:  [5, 4, 3, 2, 1, 0, 20]
List after concat:  [5, 4, 3, 2, 1, 0, 20, 1, 2, 'a', 5]
List after extend:  [5, 4, 3, 2, 1, 0, 20, 1, 2, 'a', 5, 'a', 'b', 'c']

### List Copy
 - **Shallow Copy**: Creates a copy of references to the original elements, if the changes are made to the new objects, it will also affect the original values
 - **Deep Copy**: Creates a recursive copy of all objects from the original, so the objects are duplicated into an independent copy. So the changes made to the new objects will not reflect in the original objects

In [239]:
import copy

list1 = [1, 2, 3, 4, 5]
shallow_copy = copy.copy(list1)

print("Original:", list1)
print("Shallow Copy:", shallow_copy)

# Modify the shallow copy
shallow_copy[0] = 99

print("After modifying shallow copy:")
print("Original:", list1)
print("Shallow Copy:", shallow_copy)

Original: [1, 2, 3, 4, 5]
Shallow Copy: [1, 2, 3, 4, 5]
After modifying shallow copy:
Original: [1, 2, 3, 4, 5]
Shallow Copy: [99, 2, 3, 4, 5]

modifying the shallow_copy does not affect the list1 because they are two separate lists containing the same values.

In [242]:
list1 = [1, [2, 3], 4, 5]
shallow_copy = copy.copy(list1)

print("Original:", list1)
print("Shallow Copy:", shallow_copy)

# Modify the nested list in the shallow copy
shallow_copy[1][0] = 99

print("After modifying shallow copy:")
print("Original:", list1)
print("Shallow Copy:", shallow_copy)

Original: [1, [2, 3], 4, 5]
Shallow Copy: [1, [2, 3], 4, 5]
After modifying shallow copy:
Original: [1, [99, 3], 4, 5]
Shallow Copy: [1, [99, 3], 4, 5]

In [241]:
list1 = [1, [2, 3], 4, 5]
deep_copy = copy.deepcopy(list1)

print("Original:", list1)
print("Deep Copy:", deep_copy)

# Modify the nested list in the deep copy
deep_copy[1][0] = 99

print("After modifying deep copy:")
print("Original:", list1)
print("Deep Copy:", deep_copy)

Original: [1, [2, 3], 4, 5]
Deep Copy: [1, [2, 3], 4, 5]
After modifying deep copy:
Original: [1, [2, 3], 4, 5]
Deep Copy: [1, [99, 3], 4, 5]

### Sets
 - Sets are defined using curly braces {}
 - Sets are homogeneous, duplicates are not allowed
 - Sets are mutable

In [244]:
st = {1,1,2,2,3}
st

{1, 2, 3}

In [245]:
type(st)

set

In [246]:
# adding element in Set
st.add(5)
st

{1, 2, 3, 5}

In [247]:
#removing element in set
st.remove(3)
st

{1, 2, 5}

In [249]:
# Set Comprehension
setVar = {val for val in range(5)}
setVar

{0, 1, 2, 3, 4}

#### Set Operations

Union

It combine elements from both sets using the union() function or the | operator

In [250]:
st1 = {1,2,3,4}
st2 = {5,6,7,8}
st1 | st2

{1, 2, 3, 4, 5, 6, 7, 8}

In [251]:
st1.union(st2)

{1, 2, 3, 4, 5, 6, 7, 8}

Intersection

used to get the common elements using intersection() function or & operator

In [252]:
st1 = {1,2,3,4}
st2 = {4,5,6,7,8}
st1 & st2

{4}

In [253]:
st1.intersection(st2)

{4}

Difference

elements that are in one set but not in other using difference or '-' operator

In [254]:
st1 - st2

{1, 2, 3}

In [255]:
st1.difference(st2)

{1, 2, 3}

Symmetric Difference

elements that are in either of sets but no in both using the symmetric_difference() function or '^' operator

In [256]:
st1 ^ st2

{1, 2, 3, 5, 6, 7, 8}

In [257]:
st1.symmetric_difference(st2)

{1, 2, 3, 5, 6, 7, 8}

In [258]:
print(f'st1: {st1}, st2: {st2}')

st1: {1, 2, 3, 4}, st2: {4, 5, 6, 7, 8}

Unpacking Sets using operator

In [260]:
st3 = {*st1, *st2}
st3

{1, 2, 3, 4, 5, 6, 7, 8}

In [262]:
st4 = st3.copy() # Normal Shallow Copy
st4

{1, 2, 3, 4, 5, 6, 7, 8}

Some of the common Set methods are

 - set.add() : Adds an element
 - set.remove() : removes a member element
 - set.clear() : Removes all element in a set
 - set.discard() : removes particular element from the set
 - set.pop() : removes arbitrary element
 - set.copy : Creates a shallow copy

### Dictionaries

- Key-Value pairs, Unordered, Mutable, Indexed, Heterogenous
- Unique keys (no duplication)
- Only a Number, String or Tuple can be used as a Key

In [276]:
employees = {
    "name": "John Wick",
    "location": "Continental",
    "city": "New York"
}
employees

{'name': 'John Wick', 'location': 'Continental', 'city': 'New York'}

In [277]:
# Accessing Dictionary
employees['name']

'John Wick'

In [278]:
# updating Dictionary
employees['city'] = 'New Jersey'
employees

{'name': 'John Wick', 'location': 'Continental', 'city': 'New Jersey'}

In [279]:
# adding to Dictionary
employees['status'] = 'ex-communicado'
employees

{'name': 'John Wick',
 'location': 'Continental',
 'city': 'New Jersey',
 'status': 'ex-communicado'}

In [280]:
# remove item from dictionar, popitem() will remove last key-value pair
employees.pop('location')
employees

{'name': 'John Wick', 'city': 'New Jersey', 'status': 'ex-communicado'}

In [281]:
# clear all items in dictionary
employees.clear()
employees

{}

#### Dictionary Iteration

In [291]:
employees = {
    "name": "John Wick",
    "location": "Continental",
    "city": "New York"
}
employees

{'name': 'John Wick', 'location': 'Continental', 'city': 'New York'}

In [293]:
# printing all keys in dict
for key in employees.keys():
    print(key)

name
location
city

In [294]:
# printing all values in dict
for value in employees.values():
    print(value)

John Wick
Continental
New York

In [295]:
# extract both key and value

for key, value in employees.items():
    print(f'{key}: {value}')

name: John Wick
location: Continental
city: New York

In [297]:
import random

145

In [322]:
#### Dict with more/list of values

students = {
    "name": ['Bruce Wayne', 'Clark Kent', 'Diana Prince','John Jones','Arthur Curry','Victor Stone','Barry Allen','Oliver Queen','Hal Jordan','Wally West'],
    "age": [random.randint(25,45) for _ in range(10)],
    "math": [random.randint(60,100) for _ in range(10)],
    "physics": [random.randint(60,100) for _ in range(10)],
    "chemistry": [random.randint(60,100) for _ in range(10)]
}
students

{'name': ['Bruce Wayne',
  'Clark Kent',
  'Diana Prince',
  'John Jones',
  'Arthur Curry',
  'Victor Stone',
  'Barry Allen',
  'Oliver Queen',
  'Hal Jordan',
  'Wally West'],
 'age': [45, 38, 35, 28, 25, 36, 41, 40, 26, 36],
 'math': [92, 100, 64, 90, 81, 68, 91, 73, 80, 98],
 'physics': [95, 100, 95, 86, 98, 67, 93, 77, 83, 78],
 'chemistry': [96, 68, 76, 76, 81, 82, 72, 67, 73, 81]}

In [329]:
students['name'][1].upper()

'CLARK KENT'

In [324]:
len(students['name'])

10

In [336]:
print('Name\t\tAge\t\tMaths\t\tPhysics\t\tChemistry')

for i in range(len(students['name'])):
    print(f'{students['name'][i]}\t{students['age'][i]}\t\t{students['math'][i]}\t\t{students['physics'][i]}\t\t{students['chemistry'][i]}')

Name		Age		Maths		Physics		Chemistry
Bruce Wayne	45		92		95		96
Clark Kent	38		100		100		68
Diana Prince	35		64		95		76
John Jones	28		90		86		76
Arthur Curry	25		81		98		81
Victor Stone	36		68		67		82
Barry Allen	41		91		93		72
Oliver Queen	40		73		77		67
Hal Jordan	26		80		83		73
Wally West	36		98		78		81

### Nested Dictionary

In [343]:
# Another type of dictionary creation: Nested Dictionary

age = lambda: random.randint(25,45)
marks = lambda: random.randint(60,100)

students = {
    'John Wick': {'Age': age(), 'Maths': marks(), 'Physics': marks(), 'Chemistry': marks()},
    'Vito Corleone': {'Age': age(), 'Maths': marks(), 'Physics': marks(), 'Chemistry': marks()},
    'Ellis Redding': {'Age': age(), 'Maths': marks(), 'Physics': marks(), 'Chemistry': marks()},
}

students

{'John Wick': {'Age': 27, 'Maths': 98, 'Physics': 100, 'Chemistry': 85},
 'Vito Corleone': {'Age': 28, 'Maths': 67, 'Physics': 72, 'Chemistry': 90},
 'Ellis Redding': {'Age': 28, 'Maths': 60, 'Physics': 96, 'Chemistry': 89}}

In [342]:
print('Name\t\tAge\t\tMaths\t\tPhysics\t\tChemistry')

for name, details in students.items():
    print(f'{name}\t{details["Age"]}\t\t{details["Maths"]}\t\t{details["Physics"]}\t\t{details["Chemistry"]}')

Name		Age		Maths		Physics		Chemistry
John Wick	32		75		73		92
Vito Corleone	31		64		87		80
Ellis Redding	44		69		61		61

### Shallow Copy vs Deep Copy

- Shallow Copy: when copied as shallow copy, the references of the objects are copied for nested objects, hence any changes in the duplicate also gets impacted in original data
- Deep Copy: when copied, entire objects are duplicated, so any changes in the duplicate will not impact the original data

In [345]:
originalData = {
    'name': 'John Wick',
    'age': 40,
    'nickname': ['BoogeyMan','Babayaga']
}
originalData

{'name': 'John Wick', 'age': 40, 'nickname': ['BoogeyMan', 'Babayaga']}

In [346]:
shallowcopy = dict(originalData)
shallowcopy

{'name': 'John Wick', 'age': 40, 'nickname': ['BoogeyMan', 'Babayaga']}

In [347]:
shallowcopy['age'] = 45
shallowcopy['nickname'].append('Assasin')
shallowcopy

{'name': 'John Wick',
 'age': 45,
 'nickname': ['BoogeyMan', 'Babayaga', 'Assasin']}

In [348]:
originalData

{'name': 'John Wick',
 'age': 40,
 'nickname': ['BoogeyMan', 'Babayaga', 'Assasin']}

#### Deep Copy

In [349]:
originalData

{'name': 'John Wick',
 'age': 40,
 'nickname': ['BoogeyMan', 'Babayaga', 'Assasin']}

In [350]:
deepcopy = copy.deepcopy(originalData)
deepcopy

{'name': 'John Wick',
 'age': 40,
 'nickname': ['BoogeyMan', 'Babayaga', 'Assasin']}

In [355]:
deepcopy['age']=42
deepcopy['nickname'].remove('Assasin')
deepcopy

{'name': 'John Wick', 'age': 42, 'nickname': ['BoogeyMan', 'Babayaga']}

In [356]:
originalData

{'name': 'John Wick',
 'age': 40,
 'nickname': ['BoogeyMan', 'Babayaga', 'Assasin']}

### Arrays

In [1]:
import array as arr

In [6]:
ar = arr.array('i', [0,1,2,3,4,5])
print(ar)

array('i', [0, 1, 2, 3, 4, 5])

In [362]:
for i in ar:
    print(i)

0
1
2
3
4
5

In [11]:
ar2 = arr.array('u', 'String')
ar2

array('u', 'String')

In [3]:
for i in ar2:
    print(i)

S
t
r
i
n
g

 - 'i' - signed int
 - 'u' - character
 - 'f' - floating point

In [4]:
ar2[2]

'r'

In [7]:
ar[0]

0

#### Insertion in Array

In [8]:
ar.insert(0,11)
ar

array('i', [11, 0, 1, 2, 3, 4, 5])

In [12]:
ar2.insert(1,'T')
ar2

array('u', 'STtring')

#### Appending an array

In [28]:
ar.append(20)
ar

array('i', [11, 1, 2, 3, 4, 5, 20])

#### Deletion in Array

In [13]:
ar.remove(0)
ar

array('i', [11, 1, 2, 3, 4, 5])

In [21]:
ar2.remove('T')
ar2

array('u', 'String')

#### Searching an Array

In [22]:
ar2.index('i')

3

#### Updating an array

In [23]:
ar2[1]='T'
ar2

array('u', 'STring')

#### Iterating thru loc

In [24]:
for loc, val in enumerate(ar2):
    print(f'loc: {loc}, value: {val}')

loc: 0, value: S
loc: 1, value: T
loc: 2, value: r
loc: 3, value: i
loc: 4, value: n
loc: 5, value: g

enumerate() function can be used to access elements of an array

#### Slicing in Array

In [25]:
ar2[2:]

array('u', 'ring')

In [26]:
ar2[:-1]

array('u', 'STrin')

In [27]:
ar2[2:4]

array('u', 'ri')

#### Reversing an Array

In [29]:
ar3 = arr.array('i', [1,2,3,4,5])
ar3

array('i', [1, 2, 3, 4, 5])

In [30]:
listArray = ar3.tolist()
listArray

[1, 2, 3, 4, 5]

In [31]:
listArray.reverse()
listArray

[5, 4, 3, 2, 1]

In [32]:
ar3 = arr.array('i', listArray)
ar3

array('i', [5, 4, 3, 2, 1])

#### Sorting an Array

In [37]:
ar4 = arr.array('i', [7,4,5,3,8,4,6])
ar4

array('i', [7, 4, 5, 3, 8, 4, 6])

In [38]:
listArray2 = ar4.tolist()
listArray2

[7, 4, 5, 3, 8, 4, 6]

In [39]:
listArray2.sort()
ar4 = arr.array('i', listArray2)
ar4

array('i', [3, 4, 4, 5, 6, 7, 8])

### Object Oriented Programming


#### Class and Objects

 - Class is an user-defined blueprint that consists objects which define a set of attributes.
 - Attributes are data members such as class variables, instance variables and methods
 - As usual, Object refers to an instance of the class

In [41]:
class Students:
    def __init__(self, studentName, age, grade):
        self.studentName = studentName
        self.age = age
        self.grade = grade

    def showStudentDetails(self):
        print(f'{self.studentName} - age {self.age}, studying in {self.grade}')


classObj = Students('Peter Parker', '15', 'Junior High')
classObj.showStudentDetails()

Peter Parker - age 15, studying in Junior High

### Inheritance

5 Inheritance in Python

- Multiple Inheritance
- Single Inheritance
- Hybrid Inheritance
- Hierarchial Inheritance
- Multi-level Inheritance

In [54]:
class Syllabus:
    def __init__(self, subjects): # subjects is an list data type
        self.subjects = subjects

class Grades(Syllabus):
    def __init__(self, name, grade, subjects):
        super().__init__(subjects) # use super() when calling the construtor or instance in base class
        self.name = name
        self.grade = grade
        
    def getGrades(self):
        return f'{self.name}, Grade: {self.grade}, Subject List: {self.subjects}'

g = Grades('Barbara Gordon', 8, ['AP Trignometry', 'AP Calculus','AP History'])
g.getGrades()

"Barbara Gordon, Grade: 8, Subject List: ['AP Trignometry', 'AP Calculus', 'AP History']"

#### Polymorphism

#### Overriding

When child has the method with same name and signature as in parent

In [49]:
class Father:
    def Wallet(self):
        print('Balance: 2000')

class Son(Father):
    def Wallet(self):
        print('Balance: 20')

# initialize class object
s = Son()
s.Wallet() # This will call the Wallet method in the Son class (overrides Father's method)
f = Father()
f.Wallet()

Balance: 20
Balance: 2000

#### Overloading

In [50]:
class Calculator:
    def add(self, a, b, c=None):
        if c is not None:
            return a + b + c
        else:
            return a + b


calc = Calculator()


result1 = calc.add(10, 20)  
result2 = calc.add(10, 20, 30)

print(f"Adding two numbers: {result1}")  # Output: 30
print(f"Adding three numbers: {result2}")  # Output: 60

Adding two numbers: 30
Adding three numbers: 60

### Encapsulation

(using getter and setter)

In [51]:
class Student:
    def __init__(self):
        self.name = 'Jason Todd'
        self.age = 14
        self.grade = 'junior'

    def getStudent(self):
        return f'Name: {self.name}, Age: {self.age}, Grade: {self.grade}'

    def setStudent(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

s = Student()
s.getStudent()

'Name: Jason Todd, Age: 14, Grade: junior'

In [52]:
s.setStudent('Dick Grayson', 15, 'Junior High')
s.getStudent()

'Name: Dick Grayson, Age: 15, Grade: Junior High'

### Abstraction

 - hiding the implementation details of a class and exposing only the essential features


Euclidean distance calculation using Abstraction

In [57]:
from abc import ABC, abstractmethod
import math

In [59]:
class Distance(ABC):
    @abstractmethod # abstract method in abstract class for distance calculation
    def calculate(self):
        pass

# for 2D Euclidean distance
class Distance2D(Distance):
    def __init__(self, x1, y1, x2, y2):
        self.x1 = x1
        self.y1 = y1
        self.x2 = x2
        self.y2 = y2

    def calculate(self):
        return math.sqrt((self.x2 - self.x1) ** 2 + (self.y2 - self.y1) ** 2)

# 3D Euclidean distance
class Distance3D(Distance):
    def __init__(self, x1, y1, z1, x2, y2, z2):
        self.x1 = x1
        self.y1 = y1
        self.z1 = z1
        self.x2 = x2
        self.y2 = y2
        self.z2 = z2

    def calculate(self):
        return math.sqrt((self.x2 - self.x1) ** 2 + (self.y2 - self.y1) ** 2 + (self.z2 - self.z1) ** 2)

distance_2d = Distance2D(0, 0, 3, 4)
print(f"2D Euclidean Distance: {distance_2d.calculate()}")

distance_3d = Distance3D(0, 0, 0, 1, 2, 2)
print(f"3D Euclidean Distance: {distance_3d.calculate()}")

2D Euclidean Distance: 5.0
3D Euclidean Distance: 3.0